*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}


.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo {

    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** box2 **/

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec{
    
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/**box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(166, 166, 249);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd68;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;

}

.nav-search:hover{
    border: 2px solid orange;
}

/**box4**/

span{
    font-size: 0.7rem;
}

.nav-seconavnd{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box**/

.nav-cart i{
    font-size: 35px;

} 

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;

}

/**pannel*/

.pannel{
    height:  40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-ops p{
    display: inline;
    margin-left: 10px;
}

.pannel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.pannel-deal{
    font-size: 0.9;
    font-weight: 700;
}